<div class="dashboard">

  <div class="stats">
    <app-stat-card
      title="Payment Pending"
      value="₹34,000">
    </app-stat-card>

    <app-stat-card
      title="Payment Paid"
      value="₹16,000">
    </app-stat-card>

    <app-stat-card
      title="Cargo Active"
      value="35 Trucks">
    </app-stat-card>

    <app-stat-card
      title="Cargo Unloading"
      value="25 Trucks">
    </app-stat-card>
  </div>

  <div class="middle">

    <!-- <app-shipping-info></app-shipping-info> -->

    <app-orders-chart></app-orders-chart>

  </div>

</div>